@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2");
}

:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-500: #504e70;
  /* fonts */
  --main-font: "Poppins";
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

body.dark {
  --bg-black-900: #151515;
  --bg-black-100: #222222;
  --bg-black-50: #393939;
  --text-black-900: #ffffff;
  --text-black-500: #e9e9e9;
}

body {
  font-family: var(--main-font);
  line-height: 1.5;
  font-size: 16px;
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  max-width: 1350px;
  width: 100%;
  margin: auto;
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 40px;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}

.section-title h2::before {
  content: "";
  width: 50px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--skin-color);
}

.section-title h2::after {
  content: "";
  width: 25px;
  height: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
  background-color: var(--skin-color);
}

ul {
  list-style: none;
}

.hidden {
  display: none !important;
}

.section {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
  position: fixed;
  left: 270px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: sliderSection 1s ease;
}

@keyframes sliderSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  background-color: var(--skin-color);
  transition: all 0.3s ease;
  border: none;
}

.btn:hover {
  transform: scale(1.05);
}
.shadow-dark {
  box-shadow: 0 0 20px rgb(48, 46, 77, 0.15);
}
/* aside */
.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: all 0.3s ease;
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;
  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}

.aside .logo a span {
  font-size: 40px;
}

.aside .logo a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  left: 0;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
}

.aside .logo a::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
}

.aside .nav-toggler {
  width: 45px;
  height: 40px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  background-color: var(--bg-black-100);
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.aside .nav-toggler span {
  width: 18px;
  height: 2px;
  background-color: var(--skin-color);
  display: inline-block;
  position: relative;
}

.aside .nav-toggler.open span {
  background-color: transparent;
}

.aside .nav-toggler.open span::before {
  transform: rotate(45deg);
  top: 0;
}

.aside .nav-toggler span::before {
  content: "";
  width: 18px;
  height: 1.5px;
  position: absolute;
  top: -6px;
  left: 0;
  background-color: var(--skin-color);
}

.aside .nav-toggler.open span::after {
  transform: rotate(-45deg);
  top: 0;
}

.aside .nav-toggler span::after {
  content: "";
  width: 18px;
  height: 1.5px;
  position: absolute;
  top: 6px;
  left: 0;
  background-color: var(--skin-color);
}

.aside .nav {
  margin-top: 50;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid var(--bg-black-50);
  color: var(--text-black-900);
  padding: 5px 15px;
}

.aside .nav li a.active {
  color: var(--skin-color);
}

.aside .nav li a i {
  margin-right: 15px;
}

/* home */
.home {
  min-height: 100vh;
  display: flex;
  color: var(--text-black-900);
}

.home .home-info {
  flex: 0 0 60%;
  max-width: 60%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: var(--skin-color);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-500);
}

.home .home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

.home-img::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: 20px;
  bottom: -40px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
}

.home-img::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: -40px;
  left: 20px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
}

.home .home-img img {
  margin: auto;
  border-radius: 5px;
  width: 70%;
  height: 400px;
}

/* About */
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .about-text h3 span {
  color: var(--skin-color);
}

.about .about-content .about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-500);
}

.about .about-content .personal-info {
  margin-top: 40px;
  flex: 0 0 60%;
  max-width: 60%;
}

.about .about-content .personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-500);
  margin-left: 4px;
  display: inline-block;
}

.about .about-content .personal-info .buttons {
  margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn {
  margin-top: 10px;
}

.about .about-content .skills {
  margin-top: 40px;
  flex: 0 0 40%;
  max-width: 40%;
}

.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .skills .skill-item h5 {
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.about .about-content .skills .skill-item .progress {
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
  background-color: var(--bg-black-50);
}

.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}
.skills .skills-item-inner img {
  max-width: 50px;
  width: 100%;
}
.about .about-content .skills .skill-item .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

.about .about-content .skills .skill-item .skill-percent {
  position: absolute;
  right: 0;
  top: -40px;
  font-weight: 400;
  line-height: 40px;
  color: var(--text-black-900);
}

.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}

.about .about-content h3.title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-black-900);
}

.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}

.about .about-content .timeline {
  width: 100%;
  background-color: var(--bg-black-100);
  padding: 30px 15px;
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  position: relative;
}

.about .about-content .timeline .timeline-item {
  position: relative;
  padding-left: 37px;
  padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child {
  padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before {
  content: "";
  width: 1px;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot {
  position: absolute;
  left: 0;
  top: 0;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-data {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 12px;
  color: var(--text-black-500);
}

.about .about-content .timeline .timeline-item .fa {
  margin-right: 5px;
}

.about .about-content .timeline .timeline-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: capitalize;
  color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text {
  line-height: 25px;
  font-size: 16px;
  text-align: justify;
  color: var(--text-black-500);
}

/* Skills */
.skills .container {
  padding-bottom: 40px;
}

.skills .skills-item {
  margin-bottom: 30px;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.skills .skills-item .skills-item-inner {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 10px;
  padding: 30px 15px;
  text-align: center;
  transition: all 0.3s ease;
}

.skills .skills-item .skills-item-inner:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(48, 48, 77, 0.15);
}

.skills .skills-item .skills-item-inner h4 {
  font-size: 18px;
  margin-bottom: 15px;
  color: var(--text-black-900);
  font-weight: 700;
  text-transform: capitalize;
}

.skills .skills-item .skills-item-inner p {
  font-size: 16px;
  color: var(--text-black-500);
  line-height: 25px;
}

/* Portfolio */
.portfolio .portfolio-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 40px;
}

.portfolio .portfolio-heading h2 {
  color: var(--text-black-900);
  font-weight: 500;
}

.portfolio .portfolio-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 30px;
}

.portfolio .portfolio-item-inner {
  position: relative;
  border: 6px solid var(--bg-black-100);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.portfolio .portfolio-item-inner .portfolio-img img {
  width: 100%;
  display: block;
}

.portfolio-links h4 {
  color: var(--text-black-900);
}

/* Contact */
.contact-title {
  color: var(--skin-color);
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
}

.contact-sub-title {
  color: var(--text-black-900);
  text-align: center;
  font-size: 15px;
  margin-bottom: 60px;
}

.contact .contact-info-item {
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
  margin-bottom: 60px;
}

.contact .contact-info-item .icon {
  display: inline-block;
}
.contact .contact-info-item .icon .fa {
  font-size: 25px;
  color: var(--skin-color);
}

.contact .contact-info-item h4 {
  font-size: 18px;
  font-weight: 800;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 15px 0 5px;
}

.contact .contact-info-item p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-500);
  font-weight: 400;
}

.contact .contact-form {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .col-6 {
  float: 0 0 50%;
  max-width: 50%;
}

.contact .contact-form .col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.contact .contact-form .form-item {
  margin-bottom: 30px;
  width: 100%;
}

.contact .contact-form .form-item .form-control {
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 10px 25px;
  font-size: 16px;
  color: var(--text-black-500);
  transition: all 0.4s ease;
}

.contact .contact-form .form-item .form-control:focus {
  box-shadow: 0 0 20px rgba(48, 48, 77, 0.15);
}

.contact .contact-form .form-item textarea.form-control {
  height: 140px;
}

.contact .contact-form .btn {
  height: 50px;
  padding: 0 50px;
  cursor: pointer;
}

@media only screen and (max-width: 1199px) {
  .section .container {
    padding-top: 70px;
  }
  .aside {
    left: -270px;
  }
  .aside.open {
    left: 0;
  }
  .aside .nav-toggler {
    display: flex;
    left: 30px;
  }
  .aside .nav-toggler.open {
    left: 300px;
  }
  .section {
    left: 0;
  }
  .section.open {
    position: absolute;
    top: 0;
    left: 0;
  }
  .about .about-content .personal-info .info-item p span {
    display: block;
    margin-left: 0;
  }
}

@media only screen and (max-width: 991px) {
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .skills .skills-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .about .about-content .education,
  .about .about-content .experience,
  .home .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home .home-img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .contact .contact-form .col-6,
  .contact .contact-info-item,
  .portfolio .portfolio-item,
  .skills .skills-item,
  .about .about-content .experience,
  .about .about-content .education,
  .about .about-content .skills,
  .about .about-content .personal-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .modal .modal-content {
    padding: 20px;
    position: absolute;
    left: 10% !important;
    right: 10% !important;
    background-color: white;
    border-radius: 15px;
  }
}

.portfolio-links {
  padding: 20px 10px 10px 10px;
}

.portfolio-links .portfolio-link {
  padding-block: 6px;
  background-color: var(--skin-color);
  border-radius: 50%;
  padding-inline: 10px;
}

.portfolio-links .portfolio-link .link {
  font-size: 18px;
  color: #ffffff;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.portfolio-links .portfolio-link .link:hover {
  transform: rotate(0deg);
}

/* Modal */
.modal {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: all 0.5s ease;
}

.modal .modal-content {
  padding: 20px;
  position: absolute;
  top: 30%;
  left: 40%;
  right: 20%;
  background-color: white;
  border-radius: 15px;
}

.modal .modal-content .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding-inline: 15px;
  font-size: 25px;
  border-bottom-left-radius: 14px;
  border-top-right-radius: 13px;

  &:hover {
    cursor: pointer;
  }
}

.modal .modal-content .modal-wrapper {
  margin-block: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.link-location {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.portfolio-img-link {
  min-height: 235.40px;
  object-fit: cover;
}

.lnk {
  object-fit: contain;
}

.mb-15 {
  margin-bottom: 15px;
}